<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #28282B">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="../main_pages/main.html">
      <img src="../images/Midas_brand.jpg" style="max-width: 50px; border-radius: 25px;" alt="">
      <strong style="color: #FEB734">Midas</strong>
    </a>
    <form class="row align-items-center g-0" id="searchbar" action="../secondary_pages/search.html" method="GET">
      <div class="col-auto">
        <input type="text" class="form-control" name="q" placeholder="Search...">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-dark" style="background-color: #FEB734" type="submit">Search</button>
      </div>
    </form>
    </div>
  </div>
</nav>