.favorited-item {
    border: 1px solid #feb734;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorited-item .card {
    border: none;
}

.favorited-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#profile-image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

#profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}